@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px;
    background-color: transparent;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
}

.navbar img {
    width: 35px;
    height: 35px;
}

.logo span {
    font-size: 20px;
}

.menu-btn {
    background-color: transparent;
    border: none;
}

.menu-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url('img/cachorroMain.png') no-repeat;
    background-size: cover;
    background-position: 20% center;
    padding: 120px 20px 40px;
    text-align: left;
    min-height: 65vh;
}

.hero-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 50px;
    margin-left: 7px;
}

.hero-content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    margin-left: 7px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 120%;
}

.btn-shop {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 28px 16px 28px;
    gap: 12px;
    margin-left: 7px;
}

.btn-shop img {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    vertical-align: middle;
}

.btn-shop:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.shop {
    padding: 40px 16px 40px 16px;
    gap: 10px;
    height: auto;
}

.shop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    gap: 8px;
}

.shop-header p {
    color: black;
    font-size: 20px;
    margin-left: -240px;
}

.shop-header img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.shop-body {
    padding: 30px 16px 10px 16px;
}

.shop-body p {
    color: black;
    font-size: 17px;
}

.shop-options {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.shop-options ol {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.shop-options li {
    display: flex;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.shop-options li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.imagens {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.imagens img {
   width: 380px;
}

.shop2 {
    padding: 40px 16px 40px 16px;
    gap: 10px;
    height: auto;
}

.shop2-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    gap: 8px;
}

.shop2-header p {
    display: flex;
    align-items: left;
    color: black;
    font-size: 20px;
}

.shop2-header img {
    height: 24px;
    width: 24px;
}

.shop2-body {
    padding: 30px;
}


.imagens2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px;
    margin-top: 20px;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    object-fit: cover;
}

.image-container p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.image-container:nth-child(5) {
    grid-column: span 2;
}

.image-container:nth-child(5) img {
    height: 180px;
    object-fit: cover;
    background-position: center 70%;
}

.about-us {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
    height: auto;
}

.about-us .about-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.about-header p {
    color: black;
    font-size: 20px;
}

.about-header img {
    width: 24px;
    height: 24px;
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 40px 0px;
    gap: 20px;
}

.about-body p {
    color: black;
}

.about-body img {
    display: none;
}

.blog {
    height: auto;
    padding: 0px 16px 0px 16px;
}

.blog-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.blog-header p {
    color: black;
    font-size: 20px;
}

.blog-header img {
    width: 24px;
    height: 24px;
}

.blog-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 40px 0px;
}

.blog-body .h1-primeiro {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: left;
}

.blog-body .h1-segundo {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
    width: 100%;
    text-align: left;
}

.blog-body p {
    padding: 20px 0px;
    font-size: 16px;
    color: black;
}

.blog-body .blog-button {
    display: flex;
    width: 100%;
}

.blog-button button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.blog-body .image {
    display: none;
}

.team {
    display: flex;
    flex-direction: column;
    height: 93vh;
    padding: 0px 16px 0px 16px;
}

.team-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.team-header p {
    color: black;
    font-size: 20px;
}

.team-header img {
    width: 24px;
    height: 24px;
}

.team-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px 0px 40px 0px;
}

.team-body .profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profissional img {
    width: 100%;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
}

.profissional-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-body .profissional-texto img {
    width: 100%;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
}

.profissional h3 {
    margin: 10px;
    font-size: 15px;
    color: black;
}

.profissional p {
    font-size: 12px;
    color: gray;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.redes-sociais img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: none;
}

.get-in {
    display: flex;
    flex-direction: column;
    padding: 40px 16px 2px 16px;
    background-color: black;
    height: 100vh;
}

.get-header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid rgb(91, 91, 91);
    padding: 10px;
    gap: 10px;
}

.get-header img {
    width: 24px;
    height: 24px;
}

.get-header p {
    font-size: 20px;
}

.get-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    padding-top: 10px;
}

.dados {
    padding: 7px;
}

.dados img {
    width: 20px;
    height: 20px;
}

.dados h4 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dados p {
    font-size: 10px;
    padding-bottom: 10px;
}

.dados h6 {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .hero {
        background-position: center;
        padding: 150px 100px;
        min-height: 100vh;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .btn-shop {
        padding: 16px 32px;
        font-size: 18px;
    }
}
